.setionCategory {
  margin-top: 6px;
}
.Container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 40px 20px;
}
.sectionHeading {
  margin-bottom: 20px;
  text-align: center;
}
.categoryGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.categoryItem {
  display: flex;
  background: #f3f3f3;
}
.card {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.card:hover {
  transition: transform 0.4s ease;
  transform: scale(0.933);
}
.nameproduct {
  color: #1b1b1b;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.nameproduct:hover {
  color: #78e723;
}
