::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #1a1a2e 0%, #001a2d 100%);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #82db3a;
  border-radius: 6px;
  border: 1px solid #f0f0f0;
}
